:root {
  --color-bg-light: #ffffff;
  --color-bg-medium: #e2e7ee;
  --color-bg-dark: #b2b5ba;
  --color-plank: #b78f1a;
  --color-pivot: #3d3c3b;
  --color-text: #435a70;
  --color-object: #eee9e7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
  background: var(--color-bg-medium);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#main-layout {
  width: 1000px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  padding: 6rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-light);
}

#game-info-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

#playground {
  width: 800px;
  height: 500px;
  background: var(--color-bg-dark);
  position: relative;
  overflow: hidden;
}

#seesaw {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 20px;
  background: var(--color-plank);
  z-index: 100;
  transform-origin: center;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}

#pivot {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 28px solid var(--color-pivot);
  z-index: 90;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-bg-medium);
  padding: 1rem;
  border-radius: 0.25rem;
  .label {
    font-size: small;
  }
  .value {
    font-size: larger;
    font-weight: bold;
  }
}

.object {
  position: absolute;
  bottom: 100%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transform: translateX(-50%);
  background: var(--color-object);
  color: #ffffff;
  transform: translate(-50%, -80px);
  will-change: transform;
  animation: fall 0.6s cubic-bezier(0.25, 0.7, 0.25, 1) forwards;
}

.object .label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  transition: transform 0.2s linear;
}
@keyframes fall {
  to {
    transform: translate(-50%, 0);
  }
}
